body{
	background-color: #C9C9C9;
	height:100%;
}
div#lower-div{
	height: 100%;
}
svg{
	border:3px dashed #050566;
	width:640px;
	height:640px;
}
circle#star-baseCrcl{
	fill:#FABE55;
}
circle#star-lightCrcl{
	/*fill:#FBCF88;*/
	fill:url(#star-lght01-rad);
	filter:url(#str-lght-blur01);
}

circle#star-bckLght{
	fill:"#FFFF00";
	filter:url(#str-lght-blur01);
}
